ksdelfj lkdsjf ldsk


{% extends "homepage.html" %}

{% block title %}



{% if messages %}
<ul>
	{% for message in messages %}
	   <li>{{ message }}</li>
	{% endfor %}
</ul>
{% endif %}

<div>

  <table border="">
{% for book in ab %}
                 <tr>
                     <td> {{book.name}}</td>
                     <td>  {{book.email}}</td>
                     <td> {{ book.password}}</td>
                   <td>{{book.sel1}}</td>
                   <td> {{book.sel2}}</td>



                 </tr>
            {% endfor %}

 </table>

</div>





  {% endblock %}
