
  {% extends "homepage.html" %}
  {% block title %}


  <h1 class="text-success"> Eligibility to Donate Blood</h1>

  <b class="text-primary"> Basic Requirements</b>
  <ul>
      <li>Be at least 17 years old in most states</li>
      <li>Weight: At least 45 kg (100 Ibs) for both males and females</li>
<li>Well Being: Feeling well that day. Not having colds, coughs or flu in the last one week.
    No fever (Temperature >37.5°C) in the last 3 weeks.
</li>
  </ul>

  <b class="text-primary">
      Major Illness/Surgery
  </b>
  <br>
Persons with the following conditions are not eligible for blood donation:
  <br>

  <ul>
      <li>Diseases of the heart or lungs (Donors who are asthmatic and without symptoms of asthma is eligible)</li>
      <li>High blood pressure on medication </li>
      <li> Diabetes on medication </li>
      <li> Major surgery (can donate after 12 months) </li>
<li>AIDS or symptoms of AIDS, such as unexplained fevers,
    severe night sweats, unexpected weight loss, swollen glands, chronic diarrhoea or rare cancer
</li>
      <li>
Epilepsy
      </li>
      <li>
          Hepatitis B or C </li>
      <li>
Syphilis
      </li>
  </ul>
<b>
References
</b><br>
  <a href="http://clubs.ntu.edu.sg/redcross/index.php/basic-requirements-for-blood-donation/">
     http://clubs.ntu.edu.sg/redcross/index.php/basic-requirements-for-blood-donation/</a>

  {% endblock %}


