
  {% extends "homepage.html" %}
  {% block title %}
 <h1 class="text-success"> What Happens to Donated Blood ??</h1>
  <b class="text-primary"> Step 1: The Donation</b><br>
  <b class="text-primary"> Step 2: Processing</b><br>
  <b class="text-primary"> Step 1: Testing</b><br>
  <b class="text-primary"> Step 1: Storage</b><br>
  <b class="text-primary"> Step 1: Distribution</b><br>
  <b class="text-dark"> References</b>
  <a href="http://www.redcrossblood.org/learn-about-blood/what-happens-donated-blood"> http://www.redcrossblood.org/learn-about-blood/what-happens-donated-blood</a>




  {% endblock %}


