
  {% extends "homepage.html" %}
  {% block title %}


  <h1 class="text-success">
Tips for a Successful Donation
  </h1>
  <p>
By following a few recommendations before, during and after your blood donation
      can help you make your donation experience as safe, successful and pleasant
      as possible.
  </p>
  <b class="text-primary">
Before Your Donation
  </b>
  <ul>
      <li>Maintain a healthy iron level in your diet by eating iron rich foods, such as spinach, red meat, fish, poultry, beans, iron-fortified cereals and raisins.</li>
      <li> Get a good night's sleep.</li>
      <li> Drink an extra 16 oz. of water and fluids before the donation.</li>
  </ul>
  <b class="text-primary">During Your Donation </b>
  <ul>
      <li> Wear clothing with sleeves that can be raised above the elbow. </li>
      <li>Let the phlebotomist know if you have a preferred arm and show the staff any good veins that have been used successfully in the past to draw blood. </li>


  </ul>
  <b class="text-primary"> After Your Donation  </b>
  <ul>
      <li> Drink plenty of fluids over the next 24-48 hours to replenish any fluids you lost during donation.  </li>
      <li> Avoid strenuous physical activity or heavy lifting for about five hours after donation. </li>
  </ul>
  <br>
References<br>
  <a href="http://www.redcrossblood.org/donating-blood/tips-successful-donation">
http://www.redcrossblood.org/donating-blood/tips-successful-donation
  </a>



  {% endblock %}


