

  {% extends "homepage.html" %}


{% block title %}

<b><bold class="text-primary">
 Donating Blood Saves Lives
</bold>
  </b>
<p>
  Consider the individuals in the hospital needing a blood transfusion. A gunshot or accident victim.
    Any person needing an ample supply of blood while in surgery. These people need us, and what they ask for is very little.
    Just imagine what a few pints of blood can do and how many lives it can save.</p>


 <b class="text-primary"> Donating Blood Increases Your Own Awareness of Cholesterol Levels </b>
  <p>
One of the added benefits of donating blood is having access to cholesterol levels.
  Results are readily available to you online so you can gage what you need to change in your diet,
      or you may just want to maintain healthy levels.
  </p>
  <b class="text-primary">The Health Benefits from Donating Blood</b>
  <p>
Donating blood has many health benefits. Not only will you help someone in need of blood,
      but you will also help optimize your health and wellness. Here are the top three health benefits from donating blood.
  </p>
  <b class="text-dark" >1. Protect Your Heart by Reducing Oxidative Stress</b>
  <p>
Iron in your blood can oxidize resulting in damage to your cells and tissues.
      The increase in oxidative stress is most dangerous to your cardiovascular system.

According to a new study published by the American Medical Association,
      giving blood every six months led to fewer heart attacks and strokes in test participants ages 43 to 61.

Excessive iron is thought to contribute to heart disease, especially at its early stages.
      Donating blood on a regular basis reduces the iron stores in the body and this study
      supports the theory that reducing iron appears to preserve cardiovascular health.

A second study of 2,682 men in Finland, reported in the American Journal of Epidemiology,
      found that men who donated blood at least once a year had an 88 percent lower risk of heart attacks than non-donors.

This same group of researchers published a follow-up study and found that men who donated blood were less likely than non-donors to
      show any signs of cardiovascular disease.1
  </p>
  <b class="text-dark" >2. Protect Against Developing Cancer</b>
  <p>
Give blood to help lower your risk of cancer. According to the Miller-Keystone Blood Center,
      consistent blood donation is associated with lowered risks for cancers including liver, lung, colon, stomach and throat cancers.2

Risk levels dropped in correlation with how often participants donated blood. The association between lower cancer risk and
      donating blood might also stem from reducing oxidative stress.
      Free radical compounds can damage your DNA. Damaged genetic material is the hallmark of all cancers.
  </p>
  <b class="text-dark"> 3. Free Blood Analysis</b>
  <p>
After donating, your blood will be tested for syphilis, HIV (the virus that causes AIDS), hepatitis and other factors.
      The center will notify you if tests show you may be unhealthy. Your blood will not be used if it could make someone sick.
  </p>
References
  <br>
  <a href="http://blog.lef.org/2010/07/health-benefits-from-donating-blood.html." >http://blog.lef.org/2010/07/health-benefits-from-donating-blood.html.</a><br>
  <a href="http://blood-blood-donation.knoji.com/why-donate-blood-8-reasons-why-you-should-give-blood/"> http://blood-blood-donation.knoji.com/why-donate-blood-8-reasons-why-you-should-give-blood/</a>

  {% endblock %}
